
.badge1Spacing{
    position: relative;
    left: 10px;
}

.badge2Spacing{
    position: relative;
    left: 25px;
}

.versusSpacing{
    position: relative;
    left: 15px;
}

.fighterName1Spacing{
    position: relative;
    left: 5px;
}
.fighterName2Spacing{
    position: relative;
    left: 20px;
}

.table2td1{
    position: relative;
    left: -45px;
}

.table2td2{
    position: relative;
    left: -20px;
}

.table3td1{
    position: relative;
    left: -110px;
}

.table3td2{
    position: relative;
    left: -50px;
}

.table4th1{
    position: relative;
    left: 250px;
}

.table4th2{
    position: relative;
    left: 135px;
}

.table4td1{
    position: relative;
    left: 210px;
}

.table4td2{
    position: relative;
    left: 120px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .table2{
        position: relative;
        left: -5px;
    }

    .table3{
        position: relative;
        left: -17px;
    }

    .table4{
        position: relative;
        left: 7px;
    }

    .table2td1{
        position: relative;
        left: 0px;
    }
    
    .table2td2{
        position: relative;
        left: 0px;
    }

    .record{
        position: relative;
        left: 40px;
    }

    .strikeDefense{
        position: relative;
        left: 12px;
    }

    .strikeAccuracy{
        position: relative;
        left: 12px;
    }

    .fightTime{
        position: relative;
        left: 30px;
    }

    .table3td1{
        position: relative;
        left: 0px;
    }
    
    .table3td2{
        position: relative;
        left: 0px;
    }

    .grapplingTDAvg{
        position: relative;
        left: 25px;
    }

    .grapplingAccuracy{
        position: relative;
        left: 15px;
    }

    .grapplingDefense{
        position: relative;
        left: 15px;
    }

    .grapplingSubAvg{
        position: relative;
        left: 16px;
    }

    .table4th1{
        position: relative;
        left: 0px;
    }
    
    .table4th2{
        position: relative;
        left: 0px;
    }
    
    .table4td1{
        position: relative;
        left: 0px;
    }
    
    .table4td2{
        position: relative;
        left: 0px;
    }
}
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .table2{
        position: relative;
        left: -5px;
    }

    .table3{
        position: relative;
        left: -17px;
    }

    .table4{
        position: relative;
        left: 7px;
    }

    .table2td1{
        position: relative;
        left: 0px;
    }
    
    .table2td2{
        position: relative;
        left: 0px;
    }

    .strikeDefense{
        position: relative;
        left: 12px;
    }

    .strikeAccuracy{
        position: relative;
        left: 12px;
    }

    .record{
        position: relative;
        left: 40px;
    }

    .fightTime{
        position: relative;
        left: 30px;
    }

    .table3td1{
        position: relative;
        left: 0px;
    }
    
    .table3td2{
        position: relative;
        left: 0px;
    }

    .grapplingTDAvg{
        position: relative;
        left: 25px;
    }

    .grapplingAccuracy{
        position: relative;
        left: 15px;
    }

    .grapplingDefense{
        position: relative;
        left: 15px;
    }

    .grapplingSubAvg{
        position: relative;
        left: 16px;
    }

    .table4th1{
        position: relative;
        left: 0px;
    }
    
    .table4th2{
        position: relative;
        left: 0px;
    }
    
    .table4td1{
        position: relative;
        left: 0px;
    }
    
    .table4td2{
        position: relative;
        left: 0px;
    }
}
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
   
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.materialize-enabled{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.slider .slides li .slide_top {
    background-position: top;
}

.logo{
    max-height: 65px;
}

@media only screen and (max-width: 600px) {
    .logo{
        max-height: 60px;
    }
}

